@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --color1:#A74FFF;
    --color2:#5F00BF;
    --color3:#27273A;
    --color4:#1B1B28;
    --color5:#0F0F15;
    --color6:#0A0A0A;
    --color7:#5765F2;
}

body {
    background-color: var(--color6);
}

nav {
    background-color: #0000006e;
    padding: 1rem;
    backdrop-filter: blur(5px);
}

.nav-logo {
    width: 15%;
}

.btn-gradient {
    background: linear-gradient(to right, #5F00BF, #A74FFF);
    border-radius: .3rem;
}

.btn-transparent {
    background-color: var(--color3);
    border: solid 1px var(--color3);
    border-radius: .3rem;
}

.btn-transparent:hover {
    background-color: #242436;
    border: solid 1px #242436;
}

.btn-gradient:hover {
    background: linear-gradient(to right, #5200a3, #8940d2);
}

.btn-discord {
    background-color: var(--color7);
    border-radius: .3rem;
}

.btn-discord:hover {
    background-color: #454fc1;
    border-radius: .3rem;
}

.h-100vh { height: 100vh; }
