.suport-hero-bg {
    background-image: linear-gradient(#00000000, #0a0a0a8a, #0A0A0A), url(../img/Register-Background.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}
@media (min-width: 768px) {
    .md\:w-80 {
        width: 20rem /* 320px */;
    }
}